h1{
    color: #0060A8;
}

h2{
    color: #0277CF;
}

h3{
    color: #7AD2FC;
}

h1,h2,h3,h4{
    text-align: center;
}

.campañas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center justify;
    margin: 5%;
}

.col{
    margin: 5%;
}

